.coctailItem {
  list-style: none;
  border: 1px solid yellow;
  display: flex;
  width: 400px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 15px 15px;
  border-radius: 10%;
}
.pexelsForm {
  display: block;
  width: 400px;
  padding: 20px;
}
.pexelsForm label {
  display: flex;
  flex-flow: column;
}
.pexelsForm input {
  padding: 10px;
  border: none;
  color: rgb(130, 38, 235);
  border-bottom: 1px solid;
}
.pexelsForm input::placeholder {
  color: rgb(130, 38, 235);
}

.hiddenButton {
  display: none;
}
.searchBtn {
  display: block;
  margin-top: 20px;
}
